<div class="chat-area">
    <!-- Header showing either the user name or team name -->
    <div class="chat-header">
      <h3>{{selectedChat}}</h3>
    </div>
  
    <!-- Chat messages area -->
    <div class="messages-container">
      <div *ngFor="let message of messages" class="message-item">
        <!-- Time of the message -->
        <div class="message-timestamp">
          {{ message.timestamp }}
        </div>
        <!-- Message bubble -->
        <div class="message-bubble" [ngClass]="{ 'own-message': message.sender === 'me' }">
          {{ message.content }}
        </div>
      </div>
    </div>
  
    <!-- Input area (you can modify this according to how you'd like to handle sending messages) -->
    <div class="message-input">
        <input type="text" placeholder="Type a new message..." />

        <button class="icon-button" (mouseover)="isHovered = true" (mouseleave)="isHovered = false">
            <!-- <i [ngClass]="{'fas fa-paper-plane': isHovered, 'far fa-paper-plane': isHovered}"></i> -->
            <i [ngClass]="{'far fa-paper-plane': !isHovered}"></i>
            <i [ngClass]="{'fas fa-paper-plane': isHovered}"></i>
        </button>

    </div>
  </div>
  