<div class="chat-area">
    <!-- Header showing either the user name or team name -->
    <div class="chat-header">
      <div class="Receiver-name"><h3>{{selectedChat}}</h3></div>
      <div class="Current-user"><h3>{{currentUser}}</h3></div>
    </div>
  
    <!-- Chat messages area -->
    <div class="messages-container">
      <div *ngFor="let message of messages" class="message-item" (contextmenu)="openContextMenu($event, message)">

        <!-- Time of the message -->
        <div class="message-timestamp" [ngClass]="{'own-message-timestamp': message.userId != selectedUser?.userId}" *ngIf="!isEditingMessage || selectedMessage !== message">
          {{ message.sentAt | date:'shortTime' }}
        </div>
    
        <!-- Editable message div -->
        <div
          class="message-bubble"
          [ngClass]="{
            'own-message': message.userId !== selectedUser?.userId,
            'editing-message': isEditingMessage && selectedMessage === message
          }"
          [attr.contenteditable]="isEditingMessage && selectedMessage === message ? 'true' : null"
          (input)="onInput($event, message)"  
        >
          {{ message.messageText }}
        </div>
    
        <!-- Buttons for confirming or canceling edit -->
        <div *ngIf="isEditingMessage && selectedMessage === message" class="edit-buttons-container">
          <button class="icon-button" (click)="confirmEdit()"><i class="fas fa-check"></i></button>
          <button class="icon-button" (click)="cancelEdit(message)"><i class="fas fa-times"></i></button>
        </div>
        
      </div>
    </div>
    
    

    <!-- Custom context menu -->
    <div class="custom-context-menu" [style.left.px]="contextMenuPosition.x" [style.top.px]="contextMenuPosition.y" *ngIf="isContextMenuVisible">
      <ul>
        <li (click)="editMessage()" *ngIf="selectedMessage.userId!=selectedUser?.userId"><i class="fas fa-edit"></i>Edit</li>
        <li (click)="deleteMessage()" *ngIf="selectedMessage.userId!=selectedUser?.userId"><i class="fas fa-trash-alt"></i>Delete</li>
        <li><i class="fas fa-share"></i>Forward</li>
      </ul>
    </div>
  
    <!-- Input area (you can modify this according to how you'd like to handle sending messages) -->
    <div class="message-input">
        <input type="text" placeholder="Type a new message..." [(ngModel)]="newMessage" (keydown.enter)="sendMessage()"/>

        <button class="icon-button" (click)="sendMessage()" (mouseover)="isHovered = true" (mouseleave)="isHovered = false">
            <!-- <i [ngClass]="{'fas fa-paper-plane': isHovered, 'far fa-paper-plane': isHovered}"></i> -->
            <i [ngClass]="{'far fa-paper-plane': !isHovered}"></i>
            <i [ngClass]="{'fas fa-paper-plane': isHovered}"></i>
        </button>
    </div>
  </div>
  