<div class="item-list-container">
    <!-- Header Section -->
    <div class="item-list-header">
      <h3>{{itemType}}</h3>
    </div>
  
    <!-- Chat List -->
    <ul class="item-list" *ngIf="itemType === 'chat'">
      <li *ngFor="let user of users" class="item-list-entry">
        <div class="item-content">
          <button (click)="selectChat(user)" [class.active]="selectedChat === user.firstName" class="chat-item">
            <span class="item-name">{{ user.firstName }}</span>
            <span class="item-last-message">{{ user.email }}</span>
          </button> 
        </div>
      </li>
    </ul>
  
    <!-- Teams List -->
    <ul class="item-list" *ngIf="itemType === 'teams'">
      <li *ngFor="let team of teams" class="item-list-entry">
        <div class="item-content">
          <span class="item-name">{{ team.name }}</span>
        </div>
      </li>
    </ul>
  </div>
  